<ion-header>
  <ion-toolbar>
    <ion-title>Alugar Quarto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <div class="conteudo">
      <ion-item>
        <ion-label position="stacked">Nome: </ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Telefone: </ion-label>
        <ion-input type="tel" formControlName="telefone"></ion-input>
      </ion-item>

      <ion-button shape="round" (click)="onSubmit()">Reservar</ion-button>
    </div>
  </form>
</ion-content>
